{% extends "base.html.jinja2" %}
{% block title %}Deleted {{ id }}{% endblock %}
{% block content %}
<h1>Box deleted</h1>

<p>
  The box has been removed from the server.

<a class="button main" href="/">Go Home</a>
{% endblock %}
