<!doctype html>
<html charset="UTF-8">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <title>Box {{ box_no }} added</title>
  </head>
  <body>
    <style>
      body.dark {
        --bg-color: #000;
        --bg-secondary-color: #131316;
        --font-color: #f5f5f5;
        --color-grey: #ccc;
        --color-darkGrey: #777;
      }
    </style>
    <script>
      if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        document.body.classList.add("dark");
      }
    </script>
    <div class="container">
      <h1>Box added</h1>

      <p>
        Box {{ box_no }} has been added to the server.

      {{ box }}

      <p>
        The labels should print shortly. If they don't, check the label printer
        is plugged in and connected to a computer running the label client, and
        that there are no error messages in the client output.

      <p>
        What would you like to do next?

        <div>

        <a class="button primary" href="/box">Add new box</a>
        <a class="button secondary" href="/reprint?box_no={{ box_no }}">Re-print labels</a>
        <a class="button error" href="/delete?box_no={{ box_no }}">Delete box</a>
        </div>
      

    </div>
  </body>
</html>
